* {
    box-sizing: border-box;
  }
body{
    font-family: 'Outfit';
    margin:0;
}
header{
    height: 60px;
    width: 100%;
    background-color: #1C395E;
    padding: 0px;
    position:sticky;
    top:0;
    z-index: index 100;
}
#logo{
    padding:5px;
    margin-left: 10px;
    width:60px;
    height:60px;
}
#buttons{
    float:right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    height: 100%;
    width:min(30vw, 200px);
}
button{
    border-radius: 5px;
}
#sell{
    height:100%;
    width: clamp(5px, 13vw, 90px);
    background-color: #fffffe;
    font-size: clamp(12px, 3vw, 18px);
    font-family: 'Outfit';
    border:0;
}
#login{
    height:100%;
    width: clamp(5px, 13vw, 90px);
    float:right;
    background-color: #EED700;
    font-size: clamp(12px, 3vw, 18px);
    font-family: 'Outfit';
    border:0;
}
#checkout{
    margin: 50px;
    height: 100%;
}
#total{
    display:flex;
    justify-content: flex-end;
}
.card{
    margin:30px;
    display:flex;
    height:auto;
    clear:both;
    border-radius: 10px;
    padding:10px;
    border: 1px solid lightgray;
    margin-top:10px;
}
    
.cardimage{
    float:left;
    width:150px;
    height:100%;
    border-radius: 5px;
}

.carddesc{
    padding:15px;
    float:left;
    height:100%;
}

.carddesc h3{
    margin:0px;
}

.carddesc p{
    margin: 5px;
    color: gray;
    font-size: 15px;
    margin-left:0;
}

.card button{
    display:flex;
}
#billing{
    margin: 50px;
    height: 100%;
}